@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-v1a1y5');
    src:url('fonts/icomoon.eot?#iefix-v1a1y5') format('embedded-opentype'),
        url('fonts/icomoon.woff?-v1a1y5') format('woff'),
        url('fonts/icomoon.ttf?-v1a1y5') format('truetype'),
        url('fonts/icomoon.svg?-v1a1y5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Open Sans', Arial;
    background: url(body-bg.png) 0 0 repeat;
}

h1 {
    text-shadow: 1px 1px 0 #fff;
    border-bottom: 1px solid #fff;
    padding: 0;
    margin: 10px 0 0;
}

h1:after{
    content: "\00a0";
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 20px 0 0;
    height: 0;
}

.inflation span,
.inflation .selinp {
    display: inline-block;
}

.loan {
    clear: both;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
}
.rmloan {
    position: absolute;
    top: 40px;
    right: 0;
}
button,
.rmloan,
.addloan {
    border: 1px solid #ccc;
    background-color: #2D69CC;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
    color: #f2f2f2;
    text-decoration: none;
    -webkit-box-shadow: inset 3px 3px 45px 0px rgba(0,0,0, .5);
    box-shadow:         inset 3px 3px 45px 0px rgba(0,0,0, .5);
    text-shadow: 1px 1px 0 rgba(0,0,0, .5);
}

form {
    margin: 30px 0 60px;
}
button {
    font-size: 1em;
    clear: both;
    display: block;
    cursor: pointer;
}

.row {
    clear: both;
}
.row .txtinp {
    float: left;
}
.w80,
.w40,
.w30 {
    margin-right: 30px;
}
.w40 input,
.w30 input {
    width: 55px;
    text-align: center;
}

.w40 input {
    width: 40px;
}
.w80 input {
    width: 120px;
}

.selinp,
.txtinp {
    margin: 0 30px 30px 0;
}


select,
.txtinp input {
    font-size: 1.07em;
    padding: 10px;
    max-height: 39px;
    -webkit-box-sizing:    border-box;
    -moz-box-sizing:       border-box;
    box-sizing:            border-box;
}

.txtinp label {
    width: 6em;
    text-align: left;
    display: inline-block;
}

select,
.txtinp input {
    border-radius: 4px;
    border: 1px solid #d7d7d7;
}
.txtinp input:focus,
.txtinp input:active {
    outline: 0;
}


fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
.type,
.txtinp label {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 9px 10px;
    width: auto;
    margin-right: -0.5em;
    vertical-align: middle;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #101010;
}
.txtinp input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    vertical-align: middle;
}

.type {
    display: inline-block;
    margin: 0 0 0 -0.5em;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 9px 3px;
}

.txtinp.num .plus,
.txtinp.num .minus {
    color: transparent;
    background-color: #2D69CC;
    margin-right: -5px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    padding: 9px 0 6px;
    vertical-align: middle;
    width: 19px;
    text-align: center;
    overflow: hidden;
}
.plus:before,
.minus:before {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-trans: none;
    line-height: 1;
    color: #fff;
    font-size: 1.35em;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.plus:before {
    content: "\e603";
}
.minus:before {
    content: "\e604";
}
.txtinp.num .plus {
    margin: 0 0 0 -5px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.hashint {
    position: relative;
    float: left;
    padding-right: 30px;
}
.txtinp.hasops input,
.txtinp.hastype input {
    border-radius: 0;
}
.hashint .hint span {
    position: absolute;
    right: -110px;
    top: 7px;
    width: 82px;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 6px;
    display: none;
    padding: 5px 8px 6px;
    color: #fff;
    z-index: 10;

}
.hashint .hint:active span,
.hashint .hint:focus span,
.hashint .hint:hover span {
    display: block;
}
.hashint .hint {

}
.hashint .hint:before {
    content: "\e601";
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    line-height: 1;
    color: rgba(0, 0, 0, 0.80);
    font-size: 1.357em;
    display: block;

    position: absolute;
    top: 12px;
    right: 0;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hashint .hint span:before {
    content: "\e602";
    font-family: 'icomoon';
    display: block;
    color: rgba(0, 0, 0, 0.85);
    position: absolute;
    font-size: 23px;
    left: -16px;
    top: 3px;
}
.radioinp {
    clear: both;
    padding: 0;
    margin: 0;
}
.radioinp ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.radioinp li {
    display: inline-block;
    margin-right: 30px;
}

.center {
    text-align: center;
    padding: 20px;
}

.chartData {
    display: none;
}